<br />
<div class="container center-align">
	<h2 class="shadow-text"><%= currentUser.firstname%>'s Profile</h2>
	<div class="row">
		<div class="col s6">
			<img src="<%= currentUser.image%>" id="profileimage" class="responsive-img circle">
		</div>
		<div class="col s6">
			<h4 class="shadow-text">Your Info</h4>
			<p class="shadow-text">First Name: <%= currentUser.firstname%></p>
			<p class="shadow-text">Last Name: <%= currentUser.lastname%></p>
			<p class="shadow-text">Email: <%= currentUser.email%></p>
			<a href="profile/edit" class="waves-effect waves-light btn grey"><i class="material-icons left">edit</i>Edit</a>
		</div>
	</div>
</div>

